.cart-container{
    display : flex;
    justify-content:space-between;
}
.cart-details{
    padding-top:35px
}

.cart-list-img{
    width: 300px;
    height: auto;
}

.cart-item-quantity{
    padding-top:35px

}

.cart-actions{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


p{
    /*font-family: "Lucida Console", "Courier New" , monospace;*/
    text-align: center;
}

