
.home-banner{
    height: 150px;
    border-bottom: red;
    padding-top: 10px;
    box-shadow: 115px;
}
.home-container{
    align-items: center;
    justify-content: center;
}
.home-products{
    display: inline-flex;
}

.item{
    padding: 20px;
}

.home-footer{
    margin-top:350px;
    padding-botton:200px;
}

.home-highlight {
    display: flex;
    border: 2px solid rgb(242, 235, 221);
    background-color: rgb(242, 235, 221);
    height: 400px;
}

.home-highlight-child {
    flex: 1;
    border: 2px solid rgb(238, 226, 204);
    margin: 10px;
    padding: 70px 0;
}