
.home-container{
    align-items: center;
    justify-content: center;
}
.home-products{
    display: inline-flex;
}

.item{
    padding: 20px;
}


.home-highlight {
    display: flex;
    border: 2px solid rgb(242, 235, 221);
    background-color: rgb(242, 235, 221);
    height: 400px;
}

.home-highlight-child {
    flex: 1;
    border: 2px solid rgb(238, 226, 204);
    margin: 10px;
    padding: 70px 0;
}


.top-bar{
    height: 80px;
    margin-top: 30px;
}
.home-banner-1{
    display: flex;
    height: 500px;
    flex-shrink: 3;
    justify-content:  center ;
}
.home-banner-2{
 margin-top: 5vh;
}
.home-banner-3{
    height: 100px;
    display: flex;
    justify-content: space-evenly ;
}

.home-about-section{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    padding-bottom: 15px;
}

.about-section-left{
    border: thin solid black;
    height: 50vh;
    width: 60vh;
    background-color: gray;
    overflow: scroll;
}


.auth{
    color: black;
    font-display: center;

}

.about-section-right{
    position: relative;
    height: 50vh;
    width: 60vh;
    overflow: scroll;

}
.about-section-right::after {
    content:'';
    background: url("sneaker_authenticity.png") no-repeat ;
    position: absolute;
    top:0px;
    left: 0px;
    width:50vh;
    height:50vh;
    z-index:-1;
    opacity: 0.8; 
}

.home-copyright{
    padding-top: 2vh;
    background-color: rgb(220, 243, 253);
}

.home-footer{
    /*margin-top:350px;*/
    /*padding-bottom:200px;*/
    padding-top:10px;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(220, 243, 253);
}
