.card-container{
    width: 50vw;
    height: 380px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.1s;
    animation: ease-in-out;
   /* background-color:rgb(165, 165, 165);*/

   
}
.card-container:hover{
    transform: scale(1);
    box-shadow: 0px 0px 25px 0px;
    overflow: hidden;
}

.image-container img{
    width:350px;
    height:auto;
}
.card-title h3{   
    color:black;
    font-family: "Lucida Console", "Courier New" , monospace;
}

.home-product-img{
    width: 400px;
    height: auto;
  }
