.product-container{
    width:auto;
    height: auto;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    display:inline - block;
    margin: 20px;
}
.product-img-section{
    float: left
}

.product-list-img{
   width:auto;
   height:290px;
}

