.product-container{
    width:auto;
    height: auto;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    display:inline - block;
    margin: 20px;
}
.product-img-section{
    float: left
}

.product-list-img{
   width: max-width;
   height: 190px;
}

.all-products{
    width: 90vw;
    display: block;
    margin-left: auto;
}

.all-products-individual{
    width: 25vw;
}

