
.product-container{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    border: none;
  }
  .product-img-section{
    width: 500px;
    height:800px;
  }

  .product-img{
    width: 400px;
    height: auto;
    margin-top: 50%;
    margin-bottom: 50%;
  }

  .product-details-section{
    width: 500px;
    height:800px;
    text-align: center;
    justify-content: center;
    padding: 100px 0;
  }

  .counter{
    display: inline-flex;
  }

  .product-title{
    text-align: center;
    font-size: 60px;
    font-family: Georgia;
  }


