
.register-container{
    margin: 25%px;
    margin-left: 25%;
    margin-right: 25%;

}

h1{
    /*font-family: "Lucida Console", "Courier New" , monospace;*/
    font-size:xx-large;
}

.register-text{
    font-family: "Lucida Console", "Courier New" , monospace;
    font-size:large
}